PORT=
PORT2=
MONGODB_URI=
CORS_ORIGIN_1=
CORS_ORIGIN_2=
NODE_ENV=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIARY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIARY=
COLUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=