PORT=3000
PORT2=8000
MONGODB_URI=mongodb+srv://sd-md-1998:sd$196082493@cluster0.x4r1zks.mongodb.net
CORS_ORIGIN_1=http://localhost:5173
CORS_ORIGIN_2=http://172.19.179.154:5173 #change according to current local network
NODE_ENV = development

ACCESS_TOKEN_SECRET=jPkScv4w3XRyLhTVdJe5E69prQZnYMsD-a_HKzBuxUW7FC2Nhd4Bjra6U8ETsp5eMuRfFYg-VHcwb39myN_SKtvQkZnqCG2zxe8nzvH5mByMpZa-DGRr7ULTWKkdsAc2
ACCESS_TOKEN_EXPIARY=1d

REFRESH_TOKEN_SECRET=DWdfbYmzeSZNxuh6XHsG9cFT752_V-vyzTQ2LtFc9r3hPfUdvqpVb5HDuaS7nCG4jMwyg-E_6ReK8kmxfDYxqUNcEzeyRXtsAvkGP9B8bCm4pan_Sdw573QTLV2g-J6H
REFRESH_TOKEN_EXPIARY=10d

COLUDINARY_CLOUD_NAME=dlnzjejsr
CLOUDINARY_API_KEY=774824862354366
CLOUDINARY_API_SECRET=5-xKm6fJXRJX_xU2Q0VRRTCE76Q