# http port
PORT=3000
# ws port
PORT2=8000
MONGODB_URI=
CORS_ORIGIN_1=http://localhost:5173
CORS_ORIGIN_2=http://<your-local-network-ip>:5173 #change according to current local network

# value accept "development" or "production"
NODE_ENV = development

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIARY=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIARY=

COLUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=